.nav-noticias {
   height: 250px;
   width: 100%;
   margin: 0px;
   display: flex;
   justify-content: flex-end;
   flex-wrap:wrap;
   overflow-x: scroll;
   overflow-y: hidden;
}

.post {
   height: 90%;
   width: 250px;
   background-color: #F8F8F8;
   padding: 5px;
   margin: auto 5px;
   border: solid 1px #CCC;
   border-radius: 5px;
   justify-content: space-around;
   cursor: pointer;
   transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -webkit-transition: all 0.5s ease-in-out;
}

.image-container {
   height: 70%;
   width: 100%;
   overflow: hidden;
   user-select: none;
   -ms-user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   -webkit-touch-callout: none;
   transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -webkit-transition: all 0.5s ease-in-out;
}

.post img {
   width: 100%;
   height: 100%;
   margin: 0px;
   object-fit: cover;
   -o-object-fit: cover;
   transform: scale(1.2);
   -o-transform: scale(1.2);
   -ms-transform: scale(1.2);
   -moz-transform: scale(1.2);
   -webkit-transform: scale(1.2);
   filter: grayscale(0.8);
   -webkit-filter: grayscale(0.8);
   transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -webkit-transition: all 0.5s ease-in-out;
}

.post img:hover {
   transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   -moz-transform: scale(1);
   -webkit-transform: scale(1);
   filter: grayscale(0);
   -webkit-filter: grayscale(0);
   transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -webkit-transition: all 0.5s ease-in-out;
}

.post #titulo {
   height: 3em;
   margin: 5px 0px 0px 0px;
   font-size: 14px;
   color: #273B7B;
   text-align: center;
}

.post h4 {
   margin: 5px 0px 0px;
   font-size: 13px;
   color: #576BAA;
}

form input[type="text"] {
   height: 30px;
   width: calc(100% - 40px);
   margin: 5px 10px;
   background-color: #DDDDDD;
   border: 0px;
   border-radius: 5px;
   padding-left: 10px;
   padding-right: 10px;
   font-size: 14px;
}

input[type="file"] {
   display: none;
   box-sizing: content-box;
   max-width: 300px;
   width: 100px;
   margin: 5px 10px;
   padding: inherit;
   border: none;
   text-align: center;
   line-height: 34px;
   white-space: nowrap;
   border-radius: 0.2em;
   font-size: 14px;
   background-color: #DDDDDD;
	transition: background-color 0.3s;
}

input[type="submit"] {
   margin-left: 10px;
   margin-top: 20px;
}

.form-filebutton {
   box-sizing: content-box;
   max-width: 300px;
   width: 100px;
   margin: 5px 10px;
   padding: 8px 10px;
   border: none;
   text-align: center;
   line-height: 34px;
   white-space: nowrap;
   border-radius: 0.2em;
   font-size: 14px;
   background-color: #DDDDDD;
	transition: background-color 0.3s;
}

.form-filebutton:hover, .form-filebutton:focus {
   background-color: #CCCCCC;
   outline: none;
	transition: background-color 0.3s;
}

form {
   margin-bottom: 50px;
}

form p {
   margin: 10px;
}

#editor1, #editor2 {
   height: 500px;
}

.hidden {
   display: none;
}

.div-preview {
   margin-top: 5px;
}

.img-preview {
   max-width: 100%;
}

.img-button {
   height: 25px;
}

.div-buttons {
   display:flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-around;
}

.div-buttons-group {
   display:flex;
   flex-direction: row;
   margin: 5px;
}

.btn-selected {
   background-color: #00AEFF;
   transition: background-color 0.3s;
}

.tox-checklist > li:not(.tox-checklist--hidden) {
  list-style: none;
  margin: .25em 0;
  position: relative;
}
.tox-checklist > li:not(.tox-checklist--hidden)::before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cg%20id%3D%22checklist-unchecked%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Crect%20id%3D%22Rectangle%22%20width%3D%2215%22%20height%3D%2215%22%20x%3D%22.5%22%20y%3D%22.5%22%20fill-rule%3D%22nonzero%22%20stroke%3D%22%234C4C4C%22%20rx%3D%222%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E%0A");
  background-size: 100%;
  content: '';
  cursor: pointer;
  height: 1em;
  left: -1.5em;
  position: absolute;
  top: .125em;
  width: 1em;
}
.tox-checklist li:not(.tox-checklist--hidden).tox-checklist--checked::before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cg%20id%3D%22checklist-checked%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Crect%20id%3D%22Rectangle%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22%234099FF%22%20fill-rule%3D%22nonzero%22%20rx%3D%222%22%2F%3E%3Cpath%20id%3D%22Path%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22nonzero%22%20d%3D%22M11.5703186%2C3.14417309%20C11.8516238%2C2.73724603%2012.4164781%2C2.62829933%2012.83558%2C2.89774797%20C13.260121%2C3.17069355%2013.3759736%2C3.72932262%2013.0909105%2C4.14168582%20L7.7580587%2C11.8560195%20C7.43776896%2C12.3193404%206.76483983%2C12.3852142%206.35607322%2C11.9948725%20L3.02491697%2C8.8138662%20C2.66090143%2C8.46625845%202.65798871%2C7.89594698%203.01850234%2C7.54483354%20C3.373942%2C7.19866177%203.94940006%2C7.19592841%204.30829608%2C7.5386474%20L6.85276923%2C9.9684299%20L11.5703186%2C3.14417309%20Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E%0A");
}
